name: Reminder

on:
  schedule:
    - cron: '* 3 * * *' 
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  send-reminder:
    runs-on: ubuntu-latest
    env:
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      
      - name: Run reminder
        run: go run ./cmd/reminder/main.go
